<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>JavaScript Playground</title>

<link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
<header class="site-header">
	<div class="brand header-brand">
		<h1 class="logo">Used Bots</h1>
    <button class="toggleModal">Toggle Modal!</button>
    <h2>Buy and Sell <span>Robots</span></h2>
	</div>
	<nav class="navigation header-navigation">
		<a class="pill" href="/#0">Buy Robots</a>
		<a class="pill" href="/#0">Sell Robots</a>
		<a class="pill" href="/#0">Contact Us</a>
	</nav>
</header>
<main>
	<section class="about-us">
		<div class="content">
			<h3>About Us</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <a href="/#0">nulla pariatur</a>. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</section>
	<section class="featured-posts">
		<div class="content">
			<article class="post">

      <h2>
        <a href="/#0">How much should you spend on AI?</a>
      </h2>
				<div class="post-excerpt">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
					</p>
					<a class="button button-action" href="/#0">Read More</a>
				</div>
			</article>
			<article class="post">
      <h2>
        <a href="/#0">How much should you spend on AI?</a>
      </h2>
				<div class="post-excerpt">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo...
					</p>
					<a class="button button-action" href="/#0">Read More</a>
				</div>
			</article>
		</div>
	</section>
	<footer class="site-footer">
		<form action="">
      <input type="text" value="Temp" >
    </form>
	</footer>
  </main>
  <div id="modal" class="modal">
    <input type="text/submit/hidden/button/image" name="" id="" value="" />
    <button class="toggleModal">Toggle Modal!</button>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
